In [11]:
people={
    "first":["Corey","Jane","John"],
    "last":["Schafer","Doe","Doe"],
    "email":["CoreyMSchafer@gmail.com","JaneDoe@email.com","JohnDoe@email.com"]
}

In [2]:
import pandas as pd

In [13]:
df=pd.DataFrame(people)
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [15]:
#everyone whos last name is doe:
df["last"]=="Doe"
#this is simply defining a filter - a series of T or F values
#returns a series object - true or false values that correspond to df; 
#t - meets the filter criteria of last_name=doe, f-doesn't meet
#similar to a mask - filter mask that only retrieves whereever there are true values\

0    False
1     True
2     True
Name: last, dtype: bool

In [17]:
#this is our filter mask
filt=(df["last"]=='Doe')
#now applying this to our dataframe:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [18]:
#anohter way: using the .loc indexer
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [20]:
#.loc method preferred - still get to choose columns
df.loc[filt,"email"]

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

In [22]:
#using symbols: &, |

#get all rows where last name is doe, first name is john:
filt1=((df["last"]=="Doe") & (df["first"]=="John"))
df.loc[filt1]
df.loc[filt1,"email"]

2    JohnDoe@email.com
Name: email, dtype: object

In [24]:
#last name equal to schafer or first name equal to john:
filt2=((df["last"]=="Schafer") | (df["first"]=="John"))
df.loc[filt2]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [27]:
#getting opposite of filter: ~ i.e not operator
df.loc[~filt2,"email"]

1    JaneDoe@email.com
Name: email, dtype: object

In [8]:
pd.set_option("display.max_columns",85)
pd.set_option("display.max_rows",85)

In [3]:
df=pd.read_csv("survey_results_public.csv",index_col="Respondent")
schema_df=pd.read_csv("survey_results_schema.csv",index_col="Column")

df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'survey_results_public.csv'

In [32]:
#people making salary above a certain amount:
high_salary=(df["ConvertedComp"]>70000)
df.loc[high_salary,["Country","LanguageWorkedWith","ConvertedComp"]]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [33]:
#list of countries we want:
countries=["United States","India","United Kingdom","Germany","Canada"]
filt=df["Country"].isin(countries)
df.loc[filt,"Country"]

Respondent
1        United Kingdom
4         United States
6                Canada
8                 India
10                India
              ...
85642     United States
85961    United Kingdom
86012             India
88282     United States
88377            Canada
Name: Country, Length: 45008, dtype: object

In [34]:
#can use string methods too within df
df["LanguageWorkedWith"]

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
3                                                 HTML/CSS
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88377                        HTML/CSS;JavaScript;Other(s):
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [36]:
#string in languageworkedwith column contains python; do not include na values
filt=df["LanguageWorkedWith"].str.contains('Python',na=False)
df.loc[filt,"LanguageWorkedWith"]

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
                               ...
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
85738      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
86566      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
87739             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88212                           HTML/CSS;JavaScript;Python
Name: LanguageWorkedWith, Length: 36443, dtype: object